[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/bash-support"]
	path = bundle/bash-support
	url = https://github.com/vim-scripts/bash-support.vim.git
[submodule "bundle/phpErrorMarker"]
	path = bundle/phpErrorMarker
	url = https://github.com/vim-scripts/phpErrorMarker.git
[submodule "bundle/ManPageView"]
	path = bundle/ManPageView
	url = https://github.com/vim-scripts/ManPageView.git
